body {
  background-image: linear-gradient(to left bottom, whitesmoke, azure 35%, rgb(210, 228, 174));
  background-attachment: fixed;
}

#parent {
  display: flex;
  margin-top: 5%;
  margin-bottom: 15%;
}

.login-card {
  width: 400px;
  max-width: 100%;
  margin: auto;
}

/**CSS Footer **/
#li-style a {
  text-decoration: none;
  color: grey;
}

#li-style a:hover {
  color: rgb(160, 158, 158);
}

#icons:hover {
  color: rgb(107, 107, 107);
}
