#event-data-layout {
  background-color: rgb(245, 237, 237);
}

.event-container-parent {
  display: flex;
  margin-bottom: 4%;
}

.event-container {
  width: 1250px;
  border: 1px solid rgb(231, 203, 207);
  border-radius: 4px;
  padding: 50px;
  max-width: 100%;
  margin: auto;
  background: white;
  height: auto;
}

.event-interactivity {
  color: firebrick;
  margin-bottom: 20px;
  cursor: pointer;
}

.event-interactivity:hover {
  text-decoration: underline;
}

.event-title {
  margin-bottom: 10px;
  font-size: 29px;
}

.event-date {
  float: right;
}

.event-payment {
  float: right;
  margin-bottom: 15px;
}

.player-wrapper {
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 25;
  height: 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 955px) {
  .video-container {
   
  }
} */
