body {
  background-image: linear-gradient(to left bottom, whitesmoke, azure 30%, rgb(162, 182, 123));
  background-attachment: fixed;
}

#parent-register {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
}

.register-card {
  max-width: 100%;
  margin: auto;
}

/**CSS Footer **/
#li-style a {
  text-decoration: none;
  color: grey;
}

#li-style a:hover {
  color: rgb(160, 158, 158);
}

#icons:hover {
  color: rgb(107, 107, 107);
}
